@import "bootstrap";

@import "bootstrap-icons";

@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Patrick+Hand&family=Racing+Sans+One&display=swap');

@import "/node_modules/flag-icons/css/flag-icons.min.css";

:root {

  --background-color: #8AA6A3;
  --background-color-opacity: #8aa6a386;
  
  --primary-color: #127369;
  --primary-dark-color: #10403B;

  --secondary-color: #BFBFBF;
  --secondary-dark-color: #4C5958;

}
/* Body */
* {
  padding: 0;

  margin: 0;
}

body {

  background-image: url('https://thumbs.dreamstime.com/z/cart-background-made-carts-vector-illustration-36868023.jpg?w=768%27');

}

.bgColor {

  background-color: var(--background-color);

  background: radial-gradient(circle,  var(--background-color-opacity), var(--background-color));
 

}

/* Navbar */

.navStyle {
  box-shadow: 10px 10px 15px var(--secondary-dark-color);

  background:  var(--background-color);

  background: radial-gradient(circle,  var(--primary-color), var(--background-color));

  font-size: 18px;

}

#logo {

  font-family: 'Racing Sans One', cursive;
  
  font-size: xx-large;
  
  color: var(--primary-dark-color); 

}

#logo:hover {

  color: var(--hover-color);
}

#navbarLink {

  font-family: 'Aclonica', sans-serif;
}

.formTitle {
  font-family: 'Racing Sans One';
  font-weight: bold;
  height: 80 px;
  padding: 5px;
  align-items: center;
  color: var(--primary-dark-color);
  
  background: rgb(252,212,5);
  background: radial-gradient(circle, rgba(252,212,5,1) 29%, rgba(245,161,4,1) 84%); 
  border-radius: 50px 5px 50px 5px; 
  height: 50px;
  box-shadow: 5px 5px 5px  rgb(84, 36, 36);
    
  }

  /* .formLine {
    background: transparent;
    border-color: white;  
    border-top: none;  
    border-right: none;
    border-radius: 0;
    margin-bottom: 5px;
  }

   */
  
  #announce.category_id{
    background-color: #4C5958;
  }

  .purple {
    color:var(--primary-dark-color);
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.619);
  }


}

#navbarLinkRevisor {

  color: var(--primary-dark-color);

}

  #googleLogo {
    width: 10%;
    margin-right: 5px;
  }
  
  .search {
    background:  var(--background-color);
    background: radial-gradient(circle,  var(--primary-color), var(--background-color));
    border-radius: 16rem;
    padding-bottom: 20px;


  }

  .immagine {
    width: 60%;
    margin-bottom: 5px;
    
  }
  
  .carouselText {
    color: rgb(81,189,181); 
    text-shadow: 2px 2px rgb(84, 36, 36);
    text-transform: uppercase;
  }
   
  .textShadow {
    text-shadow: 2px 2px 3px rgb(61, 27, 27);
  }
  
  
  
  /* Homepage */
  
  .homeImg {
    
    width: 900px;
    
    height: 450px;
    
  }

#firstTitle {
  color: var(--primary-dark-color);
}

#firstTitle:hover {
  color:rgb(81,189,181);;
}

.carouselText {
  color: rgb(81,189,181); 

  text-shadow: 2px 2px rgb(84, 36, 36);
  
  text-transform: uppercase;
}

.formTitle {
  
  font-family: 'Racing Sans One';
  
  font-weight: bold;
  
  display: flex;
  
  justify-content: center;
  
  align-items: center;

  padding: 25px 0px;
  
  color: var(--primary-dark-color);
  
  background: rgb(252,212,5);
  
  background: radial-gradient(circle, rgba(252,212,5,1) 29%, rgba(245,161,4,1) 84%); 
  
  border-radius: 50px 5px 50px 5px; 
  
  height: 50px;
  
  box-shadow: 5px 5px 5px  rgb(84, 36, 36);

}

.search {

  background:  var(--background-color);
  
  background: radial-gradient(circle,  var(--primary-color), var(--background-color));
  
  border-radius: 16px;

  padding-bottom: 20px;

}

/* Categories card custom */

.circle-airplane{

  display: flex;

  justify-content: center;

  align-items: center;

}



.card-bdash {

  background-color:  var(--background-color);

  border: 4px var(--primary-dark-color) solid;

  border-radius: 16px;

}

.card-bdash:hover {

  background-color:  rgba(252,212,5,1);


}

/* Card */
.cardAds {

  background:  var(--background-color);

  background: radial-gradient(circle,  var(--primary-color), var(--background-color));

  border-radius: 16px;
  
  box-shadow: 10px 10px 15px rgb(84, 36, 36);
}

.card-title {
  font-family: 'Racing Sans One', cursive;

  background: rgb(252,212,5); background: radial-gradient(circle, rgba(252,212,5,1) 29%, rgba(245,161,4,1) 84%);

  border-radius: 0 5px 50px 0px;

  width: 100%;

  height: 40px;

  display: flex;

  justify-content: center;

  align-items: center;
}

.cardAds:hover {

  box-shadow: 0 0 50px 15px white;
}



/* Footer */

.bgfooter {

  background:  var(--background-color);
  background: radial-gradient(circle,  var(--primary-color), var(--background-color));

  width: 100%;


}

.footerRef {
   color: var(--primary-dark-color); 

   text-decoration: none;

}

.footerRef:hover{
  color: var(--hover-color);
}