@import "bootstrap";

@import "bootstrap-icons";

@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Patrick+Hand&family=Racing+Sans+One&display=swap');

@import "/node_modules/flag-icons/css/flag-icons.min.css";

:root {

  --background-color: #8AA6A3;
  --background-color-opacity: #8aa6a386;
  
  --primary-color: #127369;
  --primary-dark-color: #10403B;

  --secondary-color: #BFBFBF;
  --secondary-dark-color: #4C5958;

}
/* Body */

/*palette colori sito:
    giallo chiaro-  rgba(252,212,5,1) (la 'a' è per la trasparenza, casomai eliminarla)
    giallo scuro-  rgba(245,161,4,1)
    verde/azzurro/acqua-  rgb(81,189,181);
    viola-  rgb(87, 7, 141);
    bordeaux(ombre di alcuni testi e di alcuni box)- rgb(84, 36, 36);
*/

body {
  
  
  background-image: url('https://thumbs.dreamstime.com/z/cart-background-made-carts-vector-illustration-36868023.jpg?w=768');
  
  
}

.ovBg {

  background-color: rgba(214, 214, 214, 0.711);

  background: radial-gradient(circle, rgba(214, 214, 214, 0.711) 29%, rgba(99, 99, 99, 0.711) 84%);

}



/* Navbar */
.navSize {
  
  height: 65px;
  box-shadow: 10px 10px 15px rgb(84, 36, 36);
  background: rgb(252,212,5);
  background: radial-gradient(circle, rgba(252,212,5,1) 29%, rgba(245,161,4,1) 84%);
}

#logo {
  font-family: 'Racing Sans One', cursive;
  font-size: xx-large;
  text-shadow: 5px 5px 8px white;
  
}

#navbarNav {

  font-family: 'Aclonica', sans-serif;
}

.formBox {
  font-family: 'Aclonica', sans-serif;;
  font-size: x-large;
  margin-bottom: 20px;
  text-align: start;
  color: rgb(87, 7, 141);
  border-radius: 25px;
  background-color:  rgba(81,189,181,0.5);
  
  box-shadow: 0 0 50px rgb(84, 36, 36);
}

.formTitle {
  font-family: 'Racing Sans One', cursive;
  font-weight: bold;
  height: 80 px;
  padding: 5px;
  align-items: center;
  color: rgb(87, 7, 141);
  text-shadow: 5px 5px 8px white;
  background: rgb(252,212,5);
  background: radial-gradient(circle, rgba(252,212,5,1) 29%, rgba(245,161,4,1) 84%); 
  border-radius: 5px; 
  height: 50px;
  border-radius: 10rem;
  box-shadow: 5px 5px 5px  rgb(84, 36, 36);
    
  }

  .purple {
    color: rgb(87, 7, 141);
    text-shadow: 5px 5px 10px white;
  }

  #titleForm {
    text-shadow: 5px 5px 10px rgb(84, 36, 36);
        
  }

  .buttonStyle {
    
    background-color: rgba(252,212,5,1);
    border-color: rgba(245,161,4,1) ;
    border-radius: 25px;
    font-family: 'Racing Sans One', cursive;
    text-shadow: 5px 5px 8px white;
    color: rgb(87, 7, 141);
    font-size:x-large;
    text-decoration: underline;
    box-shadow: 5px 5px 5px rgb(84, 36, 36);
  }
  .buttonStyle:hover {
    color:rgb(81,189,181);
  }
  
  .immagine {
    width: 90%;
    
  }
  
  .carousel {
    box-shadow: 0 0 50px 15px white;
    border-radius: 1rem;
    
  }

  .carouselText {
    color: rgb(81,189,181); 
    text-shadow: 2px 2px rgb(84, 36, 36);
    text-transform: uppercase;
  }
  
  .textShadow {
    text-shadow: 2px 2px 3px rgb(61, 27, 27);
  }
  
  
  
  /* Homepage */
  
  .homeImg {
    
    width: 900px;
    
    height: 450px;
    
  }
  
  /* card standard */
  
  
    .card {
      box-shadow: 10px 10px 15px rgb(84, 36, 36);
      
    }
    
  @import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
.snip1418 {
  font-family: 'Aclonica', sans-serif;
  position: relative;
  overflow: hidden;
  margin: 6px;
  min-width: 180px;
  max-width: 300px;
  max-height: 500px;
  width: 80%;
  height: 90%;
  background: rgba(81, 189, 182, 0.699);
  text-align: left;
  color:  rgb(87, 7, 141);
  box-shadow: 10px 10px 15px rgb(84, 36, 36);
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-perspective: 20em;
  perspective: 20em;
}

.hidden{
  text-align: center;
  margin-bottom: 3px;
  display: none;
  transition:all 1s ease-out;
}

.snip1418:hover {
  background-color: rgba(87, 7, 141, 0.692);
  color:rgb(81,189,181);
  box-shadow: 0 0 50px 15px white;
  width: 100%;
  height: 100%;
  
}

/* .snip1418:hover .hidden {
  display: block;
} */

.snip1418 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.snip1418 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
  border-bottom-right-radius: 50px;
    
}
.snip1418 .add-to-cart {
  
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 0.9em;
  opacity: 0;
  background-color:rgba(87, 7, 141, 0.8);
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.snip1418 .add-to-cart i {
  display: inline-block;
  margin-right: 10px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background-color: rgb(87, 7, 141);
  color: #ffffff;
  font-size: 1.4em;
}
.snip1418 figcaption {
  padding: 10px;
}
.snip1418 h3,
.snip1418 p {
  margin: 0;
}
.snip1418 h3 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
  
}
.snip1418 p {
  font-size: 0.9em;
  letter-spacing: 1px;
  font-weight: 400;
}
.snip1418 .price {
  font-weight: 600;
  font-size: 1.5em;
  line-height: 48px;
  letter-spacing: 1px;
  
}
.snip1418 .price s {
  margin-right: 5px;
  opacity: 0.5;
  font-size: 0.9em;
}
.snip1418 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.snip1418 #title {
  font-family: 'Racing Sans One', cursive;
  background: rgb(252,212,5); background: radial-gradient(circle, rgba(252,212,5,1) 29%, rgba(245,161,4,1) 84%);
  border-radius: 0 25px 25px 0;
  margin-left: -25px;
}
.snip1418:hover .add-to-cart,
.snip1418.hover .add-to-cart {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.snip1418:hover .add-to-cart i,
.snip1418.hover .add-to-cart i {
  background-color:rgb(87, 7, 141);
}




/*Categories section*/


/*Categories card custom*/

.circle-airplane{

  display: flex;
  
  justify-content: center;

  align-items: center;

  width: 50px;

  height: 50px;

  border: 2px   rgb(87, 7, 141);

  border-style: solid;

  border-radius: 50%;
}



.card-bdash {

  background-color:  rgba(81,189,181,0.8);

  border: 4px  rgb(87, 7, 141);

  border-style: solid;

}

.card-bdash:hover {

  background-color:  rgba(252,212,5,1);

}

.card-bdash:hover div div{

  background-color:rgba(245,161,4,1);

}

.card-bdash:hover div p{

  color: white;

}



.bgfooter {
  background: rgb(252,212,5);
  background: radial-gradient(circle, rgba(252,212,5,1) 29%, rgba(245,161,4,1) 84%);
  
  
}


.select-bg {


  border: 0;

  border-bottom: 2px rgb(252,212,5) solid;

  border-right: 2px rgb(252,212,5) solid;

}

.select-bg:focus {

  color: rgb(252,212,5);

  background-color: rgba(99, 99, 99, 0.711);

  border: 0;

  border-bottom: 2px rgb(252,212,5) solid;

}